<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add New Group
            </mat-panel-title>

        </mat-expansion-panel-header>



        <div class="addgroup-component">
            <mat-form-field>
                <input matInput placeholder="Insert group name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Insert the course">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Choose group year">
                    <mat-option value="option">Ist Year</mat-option>
                    <mat-option value="option">IInd Year</mat-option>
                    <mat-option value="option">IIIrd Year</mat-option>
                    <mat-option value="option">IVth Year</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button> Add </button>
        </div>
    </mat-expansion-panel>